body{
    background-color: var(--black);
    user-select: none;
}
:root{
    --black: #222222;
    --dark: #434242;
    --white: #F3EFE0;
    --color: #22A39F;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
@media (max-width: 500px) {
    .container {
      flex-direction: column;
    }
}

.canvas{
    border: none;
    margin: 10%;
}

.controlls{
    color: var(--white);
}
.cont-table{
    width: 250px;
    height: 200px;
}

table{
    background-color: blue;
}
td{
    border: 1px solid red;
    vertical-align: top;
}