body{
    background-color: var(--black);
    user-select: none;
}
:root{
    --black: #222222;
    --dark: #434242;
    --white: #F3EFE0;
    --color: #22A39F;
    accent-color: var(--color);
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
@media (max-width: 500px) {
    .container {
      flex-direction: column;
    }
}

.canvas{
    border: none;
    margin: 10%;
}

.controlls{
    color: var(--white);
}
.cont-table{
    width: 280px;
    height: 200px;
}
.b-input{
    background-color: var(--dark);
    color: var(--white);
    border: none;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    font-size: 15px;
    margin: 0 5px 0 10px;
}
.controlls h3{
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
}
.controlls label{
    font-size: 12px;
}
.n-input{
    width: 40px;
    margin: 0 8px 0 0;
    padding: 5px;
    background-color: var(--dark);
    color: var(--white);
    border: none;
    border-radius: 5px;
}